# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\patri\Desktop\SDK_V3_02_01\DLL64\DLL64\Example_DLL64_Visual_Cpp\ElveflowDLL codebase based on best match to current usage at 06/04/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

